* {
  box-sizing: border-box;
}
.intro {
  height: 300px;
  width: 600px;
  position: relative;
  background: rgb(196, 231, 154);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header {
  height: 40px;
  width: 200px;
  background: rgb(41, 77, 0);
  margin-bottom: 20px;
}
.paragraph {
  height: 70px;
  width: 400px;
  background: rgb(148, 193, 96);
}
