* {
  box-sizing: border-box;
}
html,
body {height: 100%;
}
.intro {
  height: 100%;
  position: relative;
  background: rgb(196, 231, 154);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header {
  height: 40px;
  width: 200px;
  background: rgb(41, 77, 0);
  margin-bottom: 20px;
}
.paragraph {
  height: 70px;
  width: 400px;
  background: rgb(148, 193, 96);
}

@media screen and (max-width: 620px) {
  .header{
    width: 150px;
  }
.paragraph {
  width: 250px;
 }
}
